/* navbar & home */
.con_nav{
background-color: #f1f3ff;
color: #000;  
}

.navbar-brand{
    margin-left: 5em;;
}

.navbar-collapse{
    margin-right: 50px;
}

.itm5{
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;
    
    width: 81px;
    height: 36px;
    
    /* Primary/LimeGreen/04 */
    
    background: #5CB85F;
    border-radius: 2px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 4;
    flex-grow: 0;
}



.home{
background-color: #f1f3ff;
}

.h1-home{
    width: 568px;
    height: 120px;
    margin-left: 50px;
    margin-top: 50px;
/*    left: 136px;
    top: 177px; */

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    /* or 54px */


    color: #000000;
}

.p-home{
    margin-left: 50px;
    width: 468px;
    height: 60px;
}

.btn-home{
    margin-left: 50px;
}

.mobil{
padding-left: 17px;
text-align: right;
}

/* our service */
.li-os{
list-style: none;
display: inline-block;
}

.our-service{
margin-top : 8em;
margin-left: 15em;
margin-right: 15em;
}

/* why us */
.wu{
padding-top: 5em;
margin-left: 50px;
}

.wu-col{
    margin-left: %;
    margin-right: %;
}

/* FAQ */
.card-title{
width: 113px;
height: 24px;
flex: none;
order: 1;
flex-grow: 0;
font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
text-align: left;
}

.h2-faq{
    margin-left: 50px;
}

.p-faq{
    margin-left: 50px;
}

.faq2{
}

.card-text{
text-align: left;
width: 199px;
height: 60px;
font-family: 'Helvetica';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 20px;
color: #000000;
flex: none;
order: 2;
flex-grow: 0;
margin :0;
}

.card-subtitle{
width: 32px;
height: 32px;
flex: none;
order: 0;
flex-grow: 0;
margin:0;
}

.no-3{
width: 124px;
height: 32px;
flex: none;
order: 0;
flex-grow: 0;
}

.no-4{
width: 133px;
height: 32px;
flex: none;
order: 0;
flex-grow: 0;
}

.get-start{
    background-color: aqua;
}

.box{
margin-top: 10px;
margin-right: 10%;
margin-left: 10%;
width: 1168px;
height: 326px;
left: 136px;
top: 2078px;

background: #0D28A6;
border-radius: 13px;
}

.text-h1-sewa2{
    padding-top: 70px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.text-p-sewa2{
    padding-top: 14px;
    padding-left: 342px;
    padding-right: 358px;
    width: 1168px;
    height: 54px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.btn-sewa{
    margin-left: 514px;
    margin-right: 514px;
    margin-top: 52px;
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;
    border: none;

    width: 140px;
    height: 36px;
    left: 650px;
    top: 2304px;

    /* Primary/LimeGreen/04 */

    background: #5CB85F;
    border-radius: 2px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Neutral/10 */

    color: #FFFFFF;

}
}

/* corousel */
body {
    font-family: Helvetica;
}
h2 {
    font-size: 24px;
    font-weight: bold;
}
.bg-aliceblue {
    background-color: #f1f3ff;
}
.bg-button {
    background-color: #5cb85f!important;
}
.bg-primary-darkblue {
    background-color: #0d28a6;
}
.testimonial-img {
    width: 80px;
    height: 80px;
}
.testimonial-rating {
    max-height: 16px;
}
.testimonial-name {
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: black;
    line-height: 0px;
}
.testimonial-media {
    margin-top: 20px;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #f1f1f1;
    color: black;
    border-radius: 50%;
}
.testimonial-media:hover {
  background-color: #04AA6D;
  color: white;
}
.footer-link {
    text-decoration: none;
    color: black;
    font-weight: normal;
    font-size: 14px;
}
.footer-social {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.alert-red {
    background-color: #fa2c5a;
}
.alert-yellow {
    background-color: #f9cc00;
}
.alert-green {
    background-color: #73ca5c;
}

/* footer */
.foot-content{
    margin-left: 10%;
    margin-right: 10%;
}

.foot_2{
    padding-left: 10%;
}